.selected-header-button {
  color: var(--background);
  width: 100%;
  height: 100%;
  padding-left: 8px;
  text-align: left;
}

.selected-header {
  padding: 4px;
}

.unselected-header {
  & > button {
    background: none;
    padding: 12px;
    color: inherit;
    height: 100%;
    width: 100%;
    text-align: left;

    &:hover {
      background: none;
    }
  }
}
